@import '../styles/vars';

.menuHomepageWrapper {
  animation: fadeInFromNone 1s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  position: fixed;
  z-index: 110;
  width: 210px;
  background-color: #fff;

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
    font-family: FuturaBT;
    div{
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 20px 0;
      background-color: #fff;
    }
  }
  nav {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding:0;
    }

    li {
      font-family: FuturaBT;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px 0;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.08em;
      cursor: pointer;
      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 14px;
        text-transform: lowercase;
        span{
          display: inline-block;
        }
        span:before {
          content: "";
          position: absolute;
          width: 50%;
          height: 2px;
          bottom: 5px;
          left: 50%;
          background-color: #000;
          visibility: hidden;
          transform: translateX(-50%) scaleX(0);
          transition: all 0.3s ease-in-out 0s;
        }
      }
      a:hover {
        cursor: url(../static/cursor-image.png) 25 25, auto;
        span:before {
          visibility: visible;
          transform: translateX(-50%) scaleX(1);
        }
      }
    }

    li:nth-child(odd) {
      border-right: 2px solid #000;
    }
    li:not(:nth-child(-n+2)) {
      border-top: 2px solid #000;
    }
  }
}


@keyframes fadeInFromNone {
  0% {
      display: block;
      opacity: 0;
  }
  100% {
      display: block;
      opacity: 1;
  }
}